{% extends "base.html" %}
{% block content %}

<h2>Edit Unit</h2>

<form action="/units/{{unit.id}}" method="POST">
    <div>
        <label for="unit_type">Unit Type:</label>
        <input type="text" id="unit_type" name="unit_type" value="{{unit.unit_type}}">
    </div>
    <div>
        <label for="serial_number">Serial Number:</label>
        <input type="text" id="serial_number" name="serial_number" value = {{unit.serial_number}}>
    </div>
    <div>
        <label for="hours_run">Hours Run:</label>
        <input type="number" id="hours_run" name="hours_run" value= {{unit.hours_run}}>
    </div>
    <div>
        <input type="submit">
    </div>
</form>

{% endblock %}