{% extends "base.html" %}
{% block content %}

<h2>Edit Unit</h2>

<form action="/units/{{unit.id}}" method="POST">
    <div>
        <label for="unit_type">Unit Type:</label>
        <input type="text" id="unit_type" name="unit_type">
    </div>
    <div>
        <label for="unit_sn">Serial Number:</label>
        <input type="text" id="unit_sn" name="unit_sn">
    </div>
    <div>
        <label for="unit_hr">Hours Run:</label>
        <input type="number" id="unit_hr" name="unit_hr">
    </div>
    <div>
        <input type="submit">
    </div>
</form>

{% endblock %}