{% extends "base.html" %}
{% block content %}

<div class ="heading">
    <p>Add New Unit</p>
</div>

<form action="/units" method="POST">
    <div>
        <input type="text" id="unit_type" name="unit_type" placeholder="Unit type">
    </div>
    <div>
        <input type="text" id="serial_number" name="serial_number" placeholder="Serial number">
    </div>
    <div>
        <input type="number" id="unit_hours_run" name="unit_hours_run" placeholder="Running hours">
    </div>
    <div>
        <select name="customer_id" id="customer">
            {% for customer in customers %}
            <option value="{{ customer.id }}">{{ customer.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <input type="submit">
    </div>
</form>

{% endblock %}