{% extends "base.html" %}
{% block content %}

<div class ="heading">
    <p>{{ unit.unit_type }} {{unit.serial_number}}</p>
</div>
<div class="edit">
    <li>
        <a href="/parts/new_part">Add Part</a>
    </li>
</div>

<div class="edit">
    <li>
    <a href = "/units/{{unit.id}}/edit">Edit Unit</a>
    </li>
</div>

<section>
    <div class="delete">
    <form action="/units/{{ unit.id }}/delete" method="POST">
        <input type="submit" value="Delete Unit">
    </div>
</section>

<section>
    <table class="styled-table">
        <tr>
          <th>Part Name</th>
          <th>Part Number</th>
          <th>Number Per Unit</th>
          <th>Expected Hours</th>
        </tr>
      
        {% for part in parts %}
        <tr>
            <td><a href="/parts/{{ part.id }}/part">{{ part.name }}</a></td>
            <td>{{part.number}}</td>
            <td>{{part.number_per_unit}}</td>
            <td>{{part.hour_exp}}</td>
        </tr>
        {% endfor %}
    </table>
</section>





{% endblock %}