{% extends "base.html" %}
{% block content %}

<h2>Edit Part</h2>

<form action="/parts/{{part.id}}" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
    </div>
    <div>
        <label for="number">Part Number:</label>
        <input type="text" id="number" name="number">
    </div>
    <div>
        <label for="num_per_unit">Number per Unit:</label>
        <input type="number" id="num_per_unit" name="num_per_unit">
    </div>
    <div>
        <label for="hours_exp">Hour Expiry:</label>
        <input type="number" id="hours_exp" name="hours_exp">
    </div>
    <div>
        <label for="unit">Assign to Unit:</label>
        <select name="unit_id" id="unit">
            {% for unit in units %}
            <option value="{{ unit.id }}">{{ unit.unit_type }} {{unit.serial_number}}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <input type="submit">
    </div>
</form>

{% endblock %}