{% extends "base.html" %}
{% block content %}

<div class ="heading">
    <p>Add New Part</p>
</div>

<form action="/parts" method="POST">
    <div>
        <input type="text" id="name" name="name" placeholder="Name">
    </div>
    <div>
        <input type="text" id="number" name="number" placeholder="Part number">
    </div>
    <div>
        <input type="number" id="num_per_unit" name="num_per_unit" placeholder="Number per unit">
    </div>
    <div>
        <input type="number" id="hours_exp" name="hours_exp" placeholder="Expected hours">
    </div>
    <div>
        <select name="unit_id" id="unit">
            {% for unit in units %}
            <option value="{{ unit.id }}">{{ unit.unit_type }} {{unit.serial_number}}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <input type="submit">
    </div>
</form>

{% endblock %}