{% extends "base.html" %}
{% block content %}

<h2>{{part.name}}</h2>

<section>
    <table>
        <tr>
          <th>Number</th>
          <th>Number Per Unit</th>
          <th>Expected Hours</th>
          <th>Assinged Unit</th>
        </tr>
      
        <tr>
            <td>{{part.number}}</td>
            <td>{{part.number_per_unit}}</td>
            <td>{{part.hour_exp}}</td>
            <td>{{part.unit.unit_type}} {{part.unit.serial_number}} 
            </td>
        </tr>
    </table>

<div>
<a href = "/parts/{{part.id}}/edit">Edit Part</a>
</div>

<div>
<form action="/parts/{{ part.id }}/delete" method="POST">
    <input type="submit" value="Delete">
</form>
</div>

{% endblock %}