{% extends "base.html" %}
{% block content %}

<div class ="heading">
    <p>All Parts</p>
</div>
<div class="edit">
    <li>
        <a href="/parts/new_part">Add Part</a>
    </li>
</div>

<section>
    <table class="styled-table">
        <tr>
          <th>Part Name</th>
          <th>Part Number</th>
          <th>Number Per Unit</th>
          <th>Expected Hours</th>
          <th>Assinged Unit</th>
        </tr>
      
        {% for part in parts %}
        <tr>
            <td><a href="/parts/{{ part.id }}/part">{{ part.name }}</a></td>
            <td>{{part.number}}</td>
            <td>{{part.number_per_unit}}</td>
            <td>{{part.hour_exp}}</td>
            <td>{{part.unit.unit_type}} {{part.unit.serial_number}} </td>
        </tr>
        {% endfor %}
    </table>
</section>


{% endblock %}