{% extends "base.html" %}
{% block content %}

<h2>All Parts</h2>

<a href="/parts/new_part">Add Part</a>

<section>
    <table>
        <tr>
          <th>Name</th>
          <th>Number</th>
          <th>Number Per Unit</th>
          <th>Expected Hours</th>
          <th>Assinged Unit</th>
        </tr>
      
        {% for part in parts %}
        <tr>
            <td>{{part.name}}</td>
            <td>{{part.number}}</td>
            <td>{{part.number_per_unit}}</td>
            <td>{{part.hour_exp}}</td>
            <td>{{part.unit.unit_type}} {{part.unit.serial_number}} </td>
        </tr>
        {% endfor %}
    </table>
</section>


{% endblock %}